#HOST=localhost.fuqua.duke.edu
#HOST=0.0.0.0
HOST=127.0.0.1
PORT=5001
#
data.directory=data
config.directory=config
#
f.f.momentum.factor=F-F_Momentum_Factor.csv
f.f.research.data.5.factors.2by3=F-F_Research_Data_5_Factors_2x3.csv
f.f.research.data.factors=F-F_Research_Data_Factors.CSV
stocks.etf=stocks_mf_ETF_data_final.csv
#
static.dir=static
