#HOST=localhost.fuqua.duke.edu
#HOST=0.0.0.0
#HOST=127.0.0.1
HOST=localhost
PORT=5001
#
data.directory=data
config.directory=config
#
f.f.momentum.factor=F-F_Momentum_Factor.csv
f.f.research.data.5.factors.2by3=F-F_Research_Data_5_Factors_2x3.csv
f.f.research.data.factors=F-F_Research_Data_Factors.CSV
stocks.etf=stocks_mf_ETF_data_final.csv
#
# static takes care of user uploads and downloads (when running as localhost)
#  (if running under gunicorn/docker server configuration, upload/download files are maintained in a docker volume)
#static.dir=static
#
# for the frontend static resources (React, js, css, etc)
react.build.dir=react_build
#
auth_cookie_name=_FSB_G
#
# issuer=https://go.fuqua.duke.edu/auth
issuer=https://go-dev.fuqua.duke.edu/auth
#
jwks_uri=https://go-dev.fuqua.duke.edu/auth/jwks
#jwks_uri=https://go.fuqua.duke.edu/auth/jwks
#
algorithm=RS256
audience=FuquaWorld
#
# fw.login.url=https://auth.fuqua.duke.edu/auth/duke?service=
fw.login.url=https://authdev.fuqua.duke.edu/auth/duke?service=
#
# home.page.redirect=http://localhost.fuqua.duke.edu:5002/mv
home.page.redirect=http://localhost.fuqua.duke.edu:5001
#
#url.path=/